@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffae5;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
   background-color: #580960;
   z-index: -999;
  right: 0%;
  display: block;
  top:10%;
}

/* @media only screen and (max-width: 600px) {
  .nav::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: #580960;
    left: 10%;
    display: block;
  }
} */
